$clearfix()
  content ''
  display table
  clear both

$lockRatio($height, $width = 1920)
  display block
  padding-top ($height/$width) * 100%

$print()
  @media print
    {block}

$screen()
  @media screen
    {block}

$screen_only()
  @media screen
    visibility visible
    {block}

  @media print
    display none
    visibility hidden

$print_only()
  @media print
    visibility visible
    {block}

  @media screen
    display none
    visibility hidden

$print_fixFirstLetter()
  &::first-letter
    +$print()
      margin-top 0

$print_pageBreakAfter()
  @media print
    page-break-after always

$print_pageBreakBefore()
  @media print
    page-break-before always
