/*
** Scale is used by Rupture, the following values matcg Vuetify's defaults
** @see https://vuetifyjs.com/en/layout/display
*/
rupture.scale = 0 480px 600px 960px 1264px 1904px

$font = {
  family: {
    body: 'Raleway',
    header: 'K2D'
  },
  weight: {
    regular: 400,
    light: 100,
    bold: 600,
    extraBold: 800
  }
}
