/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/* Generics */
.shadow {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.clearBoth {
  clear: both;
}
.hr-clear {
  border: none;
}
.text-xs {
  font-size: .25em;
}
ul.list-2-col > li {
  float: left;
  padding: 0;
  width: 50%;
}
.offscreen {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
/* COLUMNS */
.spanWidth {
  width: 100%;
}
.col3_2 {
  width: 66.6%;
}
.col2 {
  width: 50%;
}
* {
  box-sizing: border-box;
}
/* ELEMENTS */
body {
  background-color: #FFF;
  line-height: 1.8em;
  page-break-after: always;
  background: url("../patterns/concrete_wall_2.png");
}
.smaller {
  font-size: .9em;
}
footer header,
section header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 1.2em;
  font-weight: bold;
  margin: 2em 0 1.3em 0;
  padding-bottom: .6em;
}
#print-cover {
  padding-top: 100%;
  position: relative;
  text-align: center;
  background: url("../patterns/symphony.png");
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}
#print-cover .content {
  position: absolute;
  width: 300px;
  height: 150px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -75px 0 0 -150px;
}
#print-cover .content h1,
#print-cover .content h2,
#print-cover .content h3,
#print-cover .content h4,
#print-cover .content h5,
#print-cover .content p {
  margin: .2em;
}
#print-cover .content .qrCode {
  margin-top: 2em;
  position: relative;
}
.qrCode {
  content: url(https://chart.googleapis.com/chart?cht=qr&chs=150x150&chl=http://mm-resume.divshot.io&choe=UTF-8);
  width: 100px;
  left: 100px;
}
#title {
  background: url("../patterns/footer_lodyas.png");
  color: #FFF;
  position: relative;
}
#title #linkedIn {
  position: absolute;
  top: 1.5em;
  right: 1em;
}
#title #linkedIn img {
  width: 100px;
}
#title #contact {
  display: none;
}
#title header,
#title article {
  padding: 48px 12px;
}
#title header {
  font-size: 4em;
  font-weight: 100;
  line-height: 1em;
  margin: 0;
}
#title header #ct {
  color: #00ccff;
  font-size: .5em;
  font-weight: normal;
  line-height: 1.5em;
}
#title header #identity {
  color: #ff6600;
  font-size: .25em;
  font-weight: normal;
  line-height: 1.2em;
}
#content header {
  color: #033;
}
footer {
  clear: both;
  margin: 2em 0 0 0;
  padding: 0 2em 0 2em;
}
#technicalities {
  clear: both;
}
#technicalities article {
  font-size: 1em;
}
#references .reference {
  margin-bottom: 1em;
}
#references .name,
#references .title,
#references .contact {
  display: block;
}
#references .name {
  font-weight: bold;
}
#references .title {
  font-style: italic;
}
#references .contact {
  font-size: .8em;
}
#process {
  /* width: 66.6%; */
}
/* Sections with absolute elements */
#passions,
#atAGlance,
#process {
  position: relative;
}
#passions .chart,
#atAGlance .chart,
#process .chart {
  position: absolute;
  top: 5em;
  right: 0;
}
#process .chart {
  left: 8em;
}
#process .chart img {
  width: 100%;
}
#passions .pFamily {
  color: #234995;
}
#passions .pDesign {
  color: #A21F63;
}
#passions .pCoding {
  color: #2C89C5;
}
#passions .pPhoto {
  color: #87B548;
}
#passions .pDriving {
  color: #D22B31;
}
#drive img,
#aagChart img,
#passions img {
  width: auto;
  max-height: 300px;
  max-width: 100%;
}
#work article {
  padding-bottom: 32px;
}
#employment {
  clear: both;
}
#employment ul li {
  width: 50%;
}
#employment ul li .title,
#employment ul li .time {
  font-size: .8em;
  font-weight: normal;
  margin: 0;
}
#employment ul li .title {
  font-style: italic;
  margin: 0;
}
@media screen {
  .printable,
  .printable * {
    display: none;
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
}
/* Print */
@media print {
  body {
    font-size: .6em;
  }
  a[href^="mailto:"]:after {
    display: none;
  }
  a:after {
    content: " (" attr(href) ") ";
  }
  .noPrint,
  .noPrint * {
    display: none;
  }
  .pageBreak {
    page-break-before: always;
  }
  ul,
  img {
    page-break-inside: avoid;
  }
  #linkedIn img {
    display: none;
  }
  #employment {
    margin-top: 2em;
  }
  /* BOOTSTRAP */
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666666666666%;
  }
  .col-sm-10 {
    width: 83.33333333333334%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666666666666%;
  }
  .col-sm-7 {
    width: 58.333333333333336%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666666666667%;
  }
  .col-sm-4 {
    width: 33.33333333333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.666666666666664%;
  }
  .col-sm-1 {
    width: 8.333333333333332%;
  }
  .btn {
    border: none;
    font-size: 7px;
    padding: 0;
  }
  .label {
    border: none;
  }
  #work article {
    max-height: 400px;
    padding-bottom: 0px;
  }
}
/* iPhone [portrait & landscape] & Desktop [Low]*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px), screen and (min-width: 320px) and (max-width: 600px), screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 1.5) {
  footer {
    width: 100%;
  }
  #title header {
    font-size: 3em;
  }
  #title #linkedIn {
    position: relative;
    top: 0;
    padding-left: 2em;
    padding-bottom: 1em;
  }
  #title #linkedIn img {
    width: 100px;
  }
}
/* iPad [portrait & landscape] */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /*
	#technicalities li
	{
		float: left;
		width: 50%;
	}
	*/
}
