@page
  // size A4 portrait

body
  +above(5)
    font-size 17px

  +$screen()
    background: linear-gradient(135deg, rgba(white, 0.8), rgba(white, 0.5)) repeat, url("./../assets/patterns/concrete_seamless.png");

  +$print()
      font-size 0.8em !important

.application
  font-family: $theme.font.family.body !important
  font-size 1em

// H1...h6
for $num in (1..6)
  $split = 0.25
  $fontSize = ((2.5) - ($split * $num)) * 1em

  .h{$num}
  h{$num}
    $print_fixFirstLetter()
    color: darken($theme.colors.accent, 50%)
    font-family: $theme.font.family.secondary
    font-size $fontSize
    font-weight: $theme.font.weight.light
    line-height 1.3em
    padding-bottom 0.3em
    // margin-bottom 0.5em

    +$print()
      font-size $fontSize * 0.66em

h2
  border-bottom: 1px solid lighten($theme.colors.accent,30%)
  padding-bottom 0.3em
  margin-bottom 0.5em

p,
small
  $print_fixFirstLetter()

p
  +$print()
    margin-bottom 1em

hr
  margin 2em 0

a
  text-decoration none

ul
ol
  $clearfix()

  li
    padding-bottom 0.2em
    padding-right 0.5em

section
  margin-bottom 1em
  position relative
  width 100%
