// ELEMENT MIXIN
// $el(elName)
//   define(‘content’, lookup(elName))
//   &__{elName}
//     {content}
//     {block}
// // MODIFIER MIXIN
// $mod(modName)
//   define(‘content’, lookup(modName))
//   &--{modName}
//     {content}
//     {block}

$clearfix()
  &::after
    content ' '
    display table
    clear both

$screen()
  @media screen
    {block}

$screen_only()
  @media screen
    visibility visible
    {block}

  @media print
    visibility hidden
    display none

$print()
  @media print
    {block}

$print_only()
  @media print
    visibility visible
    {block}

  @media screen
    visibility hidden
    display none

$hTags()
  for $num in (1..6)
    h{$num}
      {block}

$print_pageBreakAfter()
  page-break-after always

$print_pageBreakBefore()
  page-break-before always
