/**
 * Scale is used by Rupture, the following values match Vuetify's defaults
 * @see https://jescalan.github.io/rupture/
 * @see https://vuetifyjs.com/en/layout/display
 */
rupture.scale = 0 480px 600px 960px 1264px 1904px

// Colors, weights, etc
$theme = json('./../theme.json', { hash: true })
