+b('v-expansion-panel')
  +m('transparent')
    box-shadow none

    +e('container')
      background none !important

+b('v-chip')
  +e('content')
    +$print()
      height 16px
      font-size 0.6em !important
      padding 1em !important
