// Creates 'col-print-[1-12]' classes.
@for $i from 1 through 12 {
  .col-print-#{$i} {
    $____thisColWidth: #{percentage(round($i*8.33)/100)};
    @include print() {
      flex: 0 0 $____thisColWidth;
      width: $____thisColWidth !important;
      float: left !important;
    }
  }
}
// Style all h1-6 tags
@for $i from 1 through 6 {
  h#{$i} {
    @include print-fixFirstLetter();
  }
}

p,
small {
  @include print-fixFirstLetter();
}

.print-only {
  @include print-only();
}

.print-pageBreakAfter {
  @include print-pageBreakAfter();
}

.screen-only {
  @include screen-only();
}
