@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin lockRatio($height, $width: 1920) {
  display: block;
  padding-top: #{($height/$width) * 100%};
}

@mixin lockRatioMobile($height) {
  @include lockRatio($height, strip-unit($screen-xs));
}

@mixin subtleBackgroundGradient($angle:135deg, $opacity:0.2){
  $angle: strip-unit($angle) * 1deg;
  background: linear-gradient($angle, rgba(black, 0), rgba(black, $opacity));
}

@mixin print(){
  @media print {
    @content;
  }
}

@mixin screen {
  @media screen {
    @content;
  }
}

@mixin screen-only {
  @media screen {
    display: inherit;
    visibility: visible;

    @content;
  }

  @media print {
    display: none;
    visibility: hidden;
  }
}

@mixin print-only {
  @media print {
    display: inherit;
    visibility: visible;

    @content;
  }

  @media screen {
    display: none;
    visibility: hidden;

    @content;
  }
}

// Fixes incorrect printing in Chrome
// @see https://github.com/twbs/bootstrap/issues/21771
@mixin print-fixFirstLetter(){
  &::first-letter {
    @include print() {
      margin-top: 0;
    }
  }
}

@mixin print-pageBreakAfter(){
  @media print {
    page-break-after: always;
  }
}
